::ng-deep .sidenav-container {
  height: 100%;
}

::ng-deep .sidenav {
  width: 230px;
}

::ng-deep .sidenav .mat-toolbar {
  background: inherit;
}

::ng-deep .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

::ng-deep .user-icon {
  padding: 0 14px;
}