<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="porfolio-spacer"></span>
  <div class="">
    <app-menu (switchMode)="onThemeChange($event)"></app-menu>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button value='theme1' mat-menu-item (click)="selectDarkTheme()">Theme 1</button>
      <button value='theme2' mat-menu-item>Theme 2</button>
    </mat-menu> -->
  </div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
