<app-breadcrumb></app-breadcrumb>

<br />
<br />
<br />

<div class="container mx-auto">
  <div class="columns-auto">
    <mat-form-field appearance="fill" class="w-full">
      <input
        type="file"
        class="absolute top-0 z-10 h-full w-full cursor-pointer opacity-0"
      />
      <mat-label>{{'Select a file'}}</mat-label>
      <input matInput cdkFocusInitial class="z-0" />
      <mat-icon matSuffix class="mr-2">upload_file</mat-icon>
      <mat-hint class="mat-form-field-hint-end">Files</mat-hint>
    </mat-form-field>
  </div>
</div>
