<app-breadcrumb></app-breadcrumb>

<br />
<br />

<div class="grid">
  <div class="col-6_sm-12">
    <h1 class="text-2xl font-semibold">
      Remote control system in a wireless sensor network for monitoring cloud
      services within an industry 4.0 laboratory
    </h1>
    <br />
    <p class="text-xl">
      The term industry 4.0 is widely used in Europe, it is also common to refer
      to this concept with terms such as "Smart Factory" or "Industrial
      Internet". In short, it is about the application to industry of the
      "Internet of Things" (IoT) model. All these terms have in common the
      recognition that manufacturing processes are in a process of digital
      transformation.
      <br />
      El monitoreo del sistema de telecontrol para la transmision de datos
      mediante los servicios en la nube de las variables fisicas medibles de los
      sensores, se llévo acabo en la ciudad de Coatzacoalcos Veracruz en el
      Instituto Tecnologico Superior de Coatzacoalcos, en el cual se tomaron las
      mediciones de temperatura ambiente, humedad ambiente y posicionamiento
      global, en el mes de octubre del 2019.
    </p>
    <br />
    <div class="grid">
      <div class="col-12">
        <a
          mat-raised-button
          color="primary"
          href="javascript:void(0)"
          (click)="downloadFile()"
          >Download Tesis</a
        >
      </div>
    </div>
  </div>

  <div class="col-6_sm-12">
    <div class="mat-elevation-z4">
      <mat-card>
        <img mat-card-image src="assets/img/arw.png" alt="" />
      </mat-card>
    </div>
  </div>
</div>
