<app-breadcrumb></app-breadcrumb>

<br />
<br />

<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-6_sm-12">
        <p class="text-2xl font-semibold mb-6">Three globe project</p>
        <p class="text-xl">
          Three.js allows the creation of graphical processing unit
          (GPU)-accelerated 3D animations using the JavaScript language as part
          of a website without relying on proprietary browser plugins. This is
          possible due to the advent of WebGL, a low-level graphics API created
          specifically for the web. High-level libraries such as Three.js or
          GLGE, SceneJS, PhiloGL, and many more make it possible to author
          complex 3D computer animations for display in the browser without the
          effort required for a traditional standalone application or a plugin.
        </p>
        <p class="text-xl">
          The globe to i use on this project wass created by the library
          "three-globe", you can see how install this tool on
          <a
            mat-button
            href="https://github.com/vasturiano/three-globe"
            target="_blank"
            >ThreeJS</a
          >
          <br />
          It is inspired by WebGL Globe, this is a ThreeJS WebGL class to
          represent data visualization layers on a globe, using a spherical
          projection.
        </p>
      </div>
      <div class="col-6_sm-12">
        <mat-card>
          <img mat-card-image src="assets/img/threejs.png" alt="" />
        </mat-card>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="col-12">
    <div class="grid">
      <div class="col-8_sm-12">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <p class="text-2xl font-semibold mb-6">Texture choised</p>
              </mat-card-title>
              <mat-card-subtitle>
                <p class="text-xl">
                  The texture to i choised to the globe wass "Hexed Country
                  Polygons".
                </p>
              </mat-card-subtitle>
              <img
                mat-card-xl-image
                src="assets/img/globe-texture.png"
                alt=""
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="col-12">
    <div class="grid">
      <div class="col-12_sm-12">
        <div class="grid">
          <div class="col-6_sm-12">
            <p class="text-2xl font-semibold mb-6">
              Code example to implementation on javascript
            </p>
            <p class="text-xl">
              This's a example of code building a globe with javascript pure,
              this code is by the tool three-globe. <br />
              This code example wass so helpfull to implement the globe on
              Angular. <br />
              The following code example ordered by number, wass how i did the
              implementation on Angular.
            </p>

            <br />
            <br />
            <br />

            <div class="col-12 grid">
              <p class="text-2xl font-semibold mb-6">
                1. Setting the globe visualization
              </p>
              <div class="viewport">
                <mat-card>
                  <img mat-card-image src="assets/img/setting.png" alt="" />
                </mat-card>
              </div>
            </div>

            <br />
            <br />
            <br />

            <div class="col-12 grid">
              <p class="text-2xl font-semibold mb-6">
                2. Setting the sphere and data visualization
              </p>
              <div class="viewport">
                <mat-card>
                  <img mat-card-image src="assets/img/setting2.png" alt="" />
                </mat-card>
              </div>
            </div>
          </div>
          <div class="col-6_sm-12">
            <div class="viewport">
              <mat-card>
                <img mat-card-image src="assets/img/code.png" alt="" />
              </mat-card>
            </div>

            <br />
            <br />
            <br />

            <div class="grid">
              <div class="col-12">
                <p class="text-2xl font-semibold mb-6">
                  3. Animating all the sphere
                </p>
                <div class="viewport">
                  <mat-card>
                    <img mat-card-image src="assets/img/setting3.png" alt="" />
                  </mat-card>
                </div>

                <br />
                <br />
                <br />

                <p class="text-xl mb-6">
                  For more information about this tools, you can visit the next
                  links:
                </p>
                <ol>
                  <li>https://threejs.org/</li>
                  <li>https://www.npmjs.com/package/three-orbitcontrols</li>
                  <li>
                    https://threejs.org/docs/#examples/en/controls/OrbitControls
                  </li>
                  <li>https://github.com/vasturiano/three-globe</li>
                  <li>
                    https://github.com/nvkelso/natural-earth-vector/tree/master/geojson
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
