<app-breadcrumb></app-breadcrumb>

<br />
<br />
<br />

<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-4_md-6_sm-12">
        <div class="mat-elevation-z4 fit-width-card">
          <mat-card class="max-w-sm p-5">
            <img mat-card-image src="assets/img/globe-1.png" alt="" />
            <mat-card-content>
              <div class="h-64 overflow-hidden">
                <p class="text-base text-justify">
                  It is a project based on a Three js, the globe graphs the
                  users who have an account on github. <br />
                  The globe displays an interactive animation between the
                  countries in that the user created an account within github.
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <a
                mat-icon-button
                aria-label=""
                matTooltip="Open complete information"
                routerLink="/page/projects/three-globe"
              >
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col-4_md-6_sm-12">
        <div class="mat-elevation-z4 fit-width-card">
          <mat-card class="max-w-sm p-5">
            <img mat-card-image src="assets/img/degree-card.png" alt="" />
            <mat-card-content>
              <div class="h-64 overflow-hidden">
                <p class="text-base text-justify">
                  This is adegree project to obtain the title of Electronic
                  Engineer. <br />
                  The project was based on the internet of things, to sense
                  measurable physical variables such as ambient temperature,
                  ambient humidity, latitude, longitude and altitude. In this
                  project I implement my own hardware and open source software.
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <a
                mat-icon-button
                aria-label=""
                matTooltip="Open complete information"
                routerLink="/page/projects/industria4.0"
              >
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col-4_md-6_sm-12">
        <div class="mat-elevation-z4 fit-width-card">
          <mat-card class="max-w-sm p-5">
            <img mat-card-image src="assets/img/portfolio1.png" alt="" />
            <mat-card-content>
              <div class="h-64 overflow-hidden">
                <p class="text-base text-justify">
                  Este es un proyecto realizado desde zero con el CLI de
                  Angular, se utilizan plugins como Tailwindcss, GridLex y
                  componentes de Angular material.
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <a
                mat-icon-button
                aria-label=""
                matTooltip="Open complete information"
                routerLink="/page/projects/portfolio"
              >
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
