<app-breadcrumb></app-breadcrumb>

<br>
<br>

<div class="grid">
  <div class="col-12">
    <section class="grid view-port-80">
      <div class="col-6_sm-12">
        <div class="grid">
          <div class="col-12_sm-12">
            <h3>
              <span class="custom-display-3">Let's</span> <span class="custom-display-3 text-gradient c-1">Get
                Started!</span>
            </h3>
          </div>
        </div>
        <div class="grid">
          <div class="col-12_sm-12">
            <mat-chip-listbox aria-label="Dog selection">
              <mat-chip color="accent" class="mat-elevation-z4">
                <img matChipAvatar src="/assets/img/i-2.png" alt="" />
                About me
              </mat-chip>
            </mat-chip-listbox>
          </div>
          <div class="col-12_sm-12 grid-center">
            <div class="col_sm-12">
              <p class="font-semibold text-2xl">Work <span class="text-gradient c-1">information</span></p>
              <ul>
                <li>
                  <p style="font-size: 1.25rem;">
                    I'm Electronic engineer based on software development, i've 3 years of experienced working
                    like a
                    coder.
                  </p>
                </li>
                <li>
                  <p style="font-size: 1.25rem;">
                    I build clean, perzonalized, functionals user interface and developments.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col_sm-12">
              <p class="font-semibold text-2xl">Experience</p>
              <p style="font-size: 1.25rem;">
                Full Stack Developer Engineer
                <br />
                Capi Software | March 2021-Precent
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6_sm-12 img-background box-img tx-left">
      </div>
    </section>
  </div>

  <br />
  <br />
  
  <div class="col-12">
    <div class="col-12 grid-center">
      <h3 class="custom-display-3">Professional</h3>
      <h3 class="custom-display-3 text-gradient c-1">Skillsets</h3>
    </div>
    <div class="col-12 grid-center">
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/php-logo.svg">
              <!-- <fa-icon [icon]="['fab', 'php']"
                [style]="{display: 'inline-block', padding: '5px', fontSize: '3rem' }"></fa-icon> -->
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/logomark.min.svg">
              <!-- <fa-icon [icon]="['fab', 'laravel']"
                [style]="{display: 'inline-block', padding: '5px', fontSize: '3rem' }"></fa-icon> -->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/img/js-css-html.png">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col_sm-6_md-6 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/git-icon.svg">
              <!-- <fa-icon [icon]="['fab', 'angular']"
                [style]="{display: 'inline-block', padding: '5px', fontSize: '3rem' }"></fa-icon> -->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col_sm-6_md-6 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/mysql-logo.svg">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col_sm-6_md-12 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/img/angular2-logo-white.png">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    
    <div class="col-12 grid-center">
      <h3 class="custom-display-3">Tools</h3>
      <h3 class="custom-display-3 text-gradient c-1">I use</h3>
    </div>
    <div class="col-12 grid-center">
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/tux.svg">
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/visual-studio-code-1.svg">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col_sm-6_md-4 grid-center">
        <div class="mat-elevation-z4 l-radius">
          <mat-card class="fit-width-card card-skill">
            <mat-card-content>
              <img mat-card-md-image src="assets/svg/postman.svg">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <div class="col">
      <div class="col-12 grid-center">
        <h3 class="custom-display-3">My</h3>
        <h3 class="custom-display-3 text-gradient c-1">Skills</h3>
      </div>
      <div class="mat-elevation-z4">
        <mat-card class="card">
          <mat-card-content>
            <div class="grid">
              <section class="col-4_sm-12">
                <h3>Front End</h3>
                <div class="grid">
                  <div class="col-12">
                    <h4>HTML / CSS {{.7 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                  </div>
                  <div class="col-12">
                    <h4>Javascript {{.75 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                  </div>
                  <div class="col-12">
                    <h4>Angular {{.75 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                  </div>
                </div>
              </section>
  
              <section class="col-4_sm-12">
                <h3>Back End</h3>
                <div class="grid">
                  <div class="col-12">
                    <h4>PHP {{.6 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                  </div>
                  <div class="col-12">
                    <h4>Laravel {{.7 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                  </div>
                  <div class="col-12">
                    <h4>Python {{.5 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                  </div>
                </div>
              </section>
  
              <section class="col-4_sm-12">
                <h3>Database</h3>
                <div class="grid">
                  <div class="col-12">
                    <h4>MySQL {{.5 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                  </div>
                  <div class="col-12">
                    <h4>MariaDB {{.5 | percent}}</h4>
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                  </div>
                </div>
              </section>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>