<app-breadcrumb></app-breadcrumb>
<section class="grid" @query>
  <div class="col-6_sm-12">
    <div class="grid">
      <div class="col-12_sm-12">
        <h3 *ngIf="show" class="intro-portfolio-w text-gradient c-1">LET'S GET STARTED!</h3>
      </div>
    </div>
    <br />
    <div class="grid">
      <div class="col-12_sm-12">
        <mat-chip-listbox aria-label="Dog selection">
          <mat-chip color="accent">
            <img matChipAvatar src="/assets/img/i-2.png" alt="" />
            About me
          </mat-chip>
        </mat-chip-listbox>

      </div>
      <br />
      <div class="col-12_sm-12">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Work information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>
                <p>
                  I'm Electronic engineer based on software development, i've 3 years of experienced working like a
                  coder.
                </p>
              </li>
              <li>
                <p>
                  I build clean, perzonalized, functionals user interface and developments with the lastest web
                  standars
                </p>
              </li>
              <li>
                <p>
                  Developer of new implementations in frontend and backend.
                </p>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-6_sm-12 img-background-2 box-img tx-left">
  </div>
</section>

<br/>

<section class="grid" @query>
  <div class="col-6_sm-12 img-background-3 box-img tx-right">
  </div>
  <div class="col-6_sm-12">
    <div class="grid">
      <div class="col-12_sm-12">
        <h3 *ngIf="show" class="intro-portfolio-w text-gradient c-1">TRUSTING ON ME!</h3>
      </div>
      <div class="col-12_sm-12">
        <mat-chip-listbox aria-label="Dog selection">
          <mat-chip color="accent">
            <img matChipAvatar src="/assets/img/i-2.png" alt="" />
            Work experience
          </mat-chip>
        </mat-chip-listbox>

      </div>
      <div class="col-12_sm-12">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Experience</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Sr. Web development Engineer
              <br/>
              Capi Software | March 2022-Precent
            </p>
            <p>
              Jr. Web development Engineer
              <br/>
              Capi software | March 2021-March 2022
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
