// h3 {
//   font-family: Jost, sans-serif !important
// }

// .mat-typography ::ng-deep mat-card-content h3 {
//   font-family: Jost, sans-serif !important
// }

.card {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}