
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme-light: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

$portfolio-theme-dark: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
    warn: $portfolio-warn,
  )
));

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-light {
  @include mat.all-component-themes($portfolio-theme-light);
}

.theme-dark {
  @include mat.all-component-themes($portfolio-theme-dark);
}

.porfolio-spacer {
  flex: 1 1 auto;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

/**
 * App Sidenav styles
 */
::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
  margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
  height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 15px !important;
}

::ng-deep .mat-nav-list .is-active {
  background-color: rgb(204, 204, 204) !important;
  border-left: 8px solid rgb(139, 137, 133);
  width: calc(100% - 8px) !important;
  ;
}

::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
  padding: 0 8px;
}

/**
 * App main styles
 */
.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.sidebar-is-mobile .sidebar-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  width: 100%;
}

.loader-container {
  height: 3px
}

h1.sidebar-app-name {
  margin-left: 8px;
  width: 185px;
}

.sidebar-sidenav-container {
  /** When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    *causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
    */
  flex: 1;
  // background-color: rgb(223, 222, 222) !important;
}

.sidebar-is-mobile .sidebar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer {
  width: 250px;
}

.router-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/*
 * General styles
 */

::ng-deep .mat-form-field {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.breadcrumb-none {
  padding: 8px 16px;
  display: inline-block;
}

.img-background {
  background-image: url('assets/img/Header-page.png');
  background-size: contain;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.box-img {
  display: block;
  width: 100%;
  height: 500px;
}
