<div class="grid">
  <div class="col">
    <span class="breadcrumb-none"></span>
  </div>
</div>

<div class="grid">
  <div class="col-6_sm-12">
    <div class="grid">
      <div class="col-12">
        <h2 class="intro-portfolio">Software developer</h2>
      </div>
      <div class="col grid-12">
        <h3 class="intro-portfolio-w">Welcome I Am</h3>
        <h3 class="intro-portfolio-w text-gradient name">Valentin Ortiz</h3>
      </div>
      <!-- <div class="col-12">
      </div> -->
    </div>
  </div>
  <div class="col-6_sm-12 img-background box-img">
  </div>
</div>
