<div class="grid header-spacer">
  <div class="col">
    <span class="breadcrumb-none"></span>
  </div>
</div>

<div class="grid">
  <div class="col-6_sm-12">
    <div class="grid">
      <div class="col-12">
        <mat-chip-listbox aria-label="Dog selection">
          <mat-chip color="accent">
            <img matChipAvatar src="/assets/img/i-2.png" alt="" />
            Software developer
          </mat-chip>
        </mat-chip-listbox>
      </div>
      <div class="col grid-12">
        <h3 class="intro-portfolio-w">Welcome I Am</h3>
        <h3 class="intro-portfolio-w text-gradient c-1">Valentin Ortiz</h3>
      </div>
      <div class="col-12">
        <h2>I am a Mexican developer experienced in web app development</h2>
      </div>
    </div>
  </div>
  <div class="col-6_sm-12 img-background box-img">
  </div>
</div>

<div class="grid">
  <div class="col-6_sm-12">
    <app-three-globe #threeGlobe></app-three-globe>
  </div>
</div>
