<app-breadcrumb></app-breadcrumb>

<br />
<br />
<br />

<div class="grid">
  <div class="col-6_sm-12">
    <p class="text-2xl font-semibold">Portfolio</p>
    <br />
    <p class="text-xl">
      This project was designed with Angular CLI, the installed version of
      Angular is 15.0.0, the use case is mainly to visualize completed projects,
      skills, tools for development and a bit of data analysis between the user
      API provided by Github.
      <br />
      Libraries such as tailwindcss, Gridlex, Angular material, Three js and
      Chart js were integrated.
      <br />
      For the backend and database, tools such as MySQL and Laravel were
      integrated.
    </p>
  </div>
  <div class="col-6_sm-12">
    <div class="mat-elevation-z4">
      <mat-card>
        <img mat-card-image src="assets/img/portfolio-1.png" alt="" />
      </mat-card>
    </div>
  </div>
</div>
